In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [18]:
data = pd.read_csv('../dataset/Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [19]:
data = data.drop(['RowNumber', 'CustomerId','Surname'], axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [20]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

onehot_encoder_geo = OneHotEncoder(handle_unknown="ignore")
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

data = pd.concat([data.drop("Geography", axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [21]:
X = data.drop("EstimatedSalary", axis=1)
Y = data["EstimatedSalary"]

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [23]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [24]:
with open('../models/salaryPredictor/label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('../models/salaryPredictor/onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('../models/salaryPredictor/scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [25]:
## ANN with regression
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [26]:
model = Sequential(
    [
        Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
        Dense(32, activation='relu'),
        Dense(1),
    ]
)

model.compile(optimizer='adam', loss='mean_absolute_error', metrics="mae")
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,945
Trainable params: 2,945
Non-trainable params: 0
_________________________________________________________________

In [27]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [28]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [29]:
history = model.fit(
    X_train_scaled, Y_train,
    epochs=100,
    validation_data=(X_test_scaled, Y_test),
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 100396.5469 - mae: 100396.5469 - val_loss: 98586.1406 - val_mae: 98586.1406
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 99862.8672 - mae: 99862.8672 - val_loss: 97486.7266 - val_mae: 97486.7266
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 97911.0234 - mae: 97911.0234 - val_loss: 94589.5859 - val_mae: 94589.5859
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 93971.4766 - mae: 93971.4766 - val_loss: 89617.4062 - val_mae: 89617.4062
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 87998.7578 - mae: 87998.7578 - val_loss: 82842.7891 - val_mae: 82842.7891
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 80454.7500 - mae: 80454.7500 - val_loss: 75054.7969 - val_mae: 75054.7969
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 72370.7812 - mae: 72370.7812 - val_loss: 67418.8828 - val_mae: 67418.8828
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 64848.4062 - mae: 64848.4062 - val_loss: 60877.0742 - val_mae: 60877.0742
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 58816.5352 - mae: 58816.5352 - val_loss: 56045.7148 - val_mae: 56045.7148
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 54672.6523 - mae: 54672.6523 - val_loss: 53095.5859 - val_mae: 53095.5859
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 52266.9258 - mae: 52266.9258 - val_loss: 51649.6250 - val_mae: 51649.6250
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 51080.2734 - mae: 51080.2734 - val_loss: 51016.8867 - val_mae: 51016.8867
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 50561.4258 - mae: 50561.4258 - val_loss: 50766.0508 - val_mae: 50766.0508
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50341.3828 - mae: 50341.3828 - val_loss: 50662.6992 - val_mae: 50662.6992
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 50241.9219 - mae: 50241.9219 - val_loss: 50615.6641 - val_mae: 50615.6641
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 50182.7461 - mae: 50182.7461 - val_loss: 50576.2031 - val_mae: 50576.2031
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 50134.4766 - mae: 50134.4766 - val_loss: 50547.7461 - val_mae: 50547.7461
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 50091.8438 - mae: 50091.8438 - val_loss: 50509.2422 - val_mae: 50509.2422
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 50053.0664 - mae: 50053.0664 - val_loss: 50487.4648 - val_mae: 50487.4648
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 50020.2891 - mae: 50020.2891 - val_loss: 50458.7109 - val_mae: 50458.7109
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 49988.2070 - mae: 49988.2070 - val_loss: 50434.4336 - val_mae: 50434.4336
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 49958.3359 - mae: 49958.3359 - val_loss: 50412.3359 - val_mae: 50412.3359
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 49928.8750 - mae: 49928.8750 - val_loss: 50390.0117 - val_mae: 50390.0117
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 49904.4766 - mae: 49904.4766 - val_loss: 50368.6094 - val_mae: 50368.6094
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49879.6172 - mae: 49879.6172 - val_loss: 50356.0234 - val_mae: 50356.0234
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 49857.7578 - mae: 49857.7578 - val_loss: 50341.6172 - val_mae: 50341.6172
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 49835.7656 - mae: 49835.7656 - val_loss: 50326.4141 - val_mae: 50326.4141
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49816.1562 - mae: 49816.1562 - val_loss: 50308.7109 - val_mae: 50308.7109
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 49797.2539 - mae: 49797.2539 - val_loss: 50296.1250 - val_mae: 50296.1250
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 49779.0703 - mae: 49779.0703 - val_loss: 50287.8320 - val_mae: 50287.8320
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 49764.5859 - mae: 49764.5859 - val_loss: 50277.2148 - val_mae: 50277.2148
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 49744.1445 - mae: 49744.1445 - val_loss: 50261.6953 - val_mae: 50261.6953
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 49728.3125 - mae: 49728.3125 - val_loss: 50257.4531 - val_mae: 50257.4531
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49714.8438 - mae: 49714.8438 - val_loss: 50254.8633 - val_mae: 50254.8633
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 49699.9688 - mae: 49699.9688 - val_loss: 50239.9688 - val_mae: 50239.9688
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49685.1992 - mae: 49685.1992 - val_loss: 50240.1055 - val_mae: 50240.1055
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49671.7656 - mae: 49671.7656 - val_loss: 50235.0312 - val_mae: 50235.0312
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49661.1836 - mae: 49661.1836 - val_loss: 50235.6562 - val_mae: 50235.6562
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 49647.8867 - mae: 49647.8867 - val_loss: 50226.2422 - val_mae: 50226.2422
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 49634.3672 - mae: 49634.3672 - val_loss: 50229.1484 - val_mae: 50229.1484
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49624.5977 - mae: 49624.5977 - val_loss: 50225.9648 - val_mae: 50225.9648
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 49615.0703 - mae: 49615.0703 - val_loss: 50229.3711 - val_mae: 50229.3711
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 49602.3633 - mae: 49602.3633 - val_loss: 50232.2812 - val_mae: 50232.2812
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49592.8750 - mae: 49592.8750 - val_loss: 50229.1953 - val_mae: 50229.1953
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 49584.6992 - mae: 49584.6992 - val_loss: 50219.2422 - val_mae: 50219.2422
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 49577.2617 - mae: 49577.2617 - val_loss: 50220.3047 - val_mae: 50220.3047
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 49567.8906 - mae: 49567.8906 - val_loss: 50220.2656 - val_mae: 50220.2656
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 49559.9258 - mae: 49559.9258 - val_loss: 50228.2969 - val_mae: 50228.2969
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 49551.8125 - mae: 49551.8125 - val_loss: 50226.5781 - val_mae: 50226.5781
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 49543.5234 - mae: 49543.5234 - val_loss: 50245.1562 - val_mae: 50245.1562
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 49533.8438 - mae: 49533.8438 - val_loss: 50237.6992 - val_mae: 50237.6992
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 49527.7148 - mae: 49527.7148 - val_loss: 50232.0117 - val_mae: 50232.0117
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 49520.7070 - mae: 49520.7070 - val_loss: 50243.4805 - val_mae: 50243.4805
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 49514.3555 - mae: 49514.3555 - val_loss: 50239.0703 - val_mae: 50239.0703
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 49508.7969 - mae: 49508.7969 - val_loss: 50242.5938 - val_mae: 50242.5938

In [30]:
%load_ext tensorboard
%tensorboard --logdir logs/fit/

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6006 (pid 8124), started 0:00:43 ago. (Use '!kill 8124' to kill it.)

In [31]:
## Evaluvate model on the test data

test_loss, test_mae = model.evaluate(X_test_scaled, Y_test, verbose=2)
print(f"Test mae: {test_mae:.2f}")

63/63 - 0s - loss: 50219.2422 - mae: 50219.2422 - 82ms/epoch - 1ms/step
Test mae: 50219.24

In [32]:
model.save('../models/salaryPredictor/regression_model.h5')